body {
  position: relative; /* Set the li element as the reference position */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 5px;
}

#date {
  text-align: center;
  font-style: italic;
  margin: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 10;
}

li {
  
  text-align: center;
  width: 400px;
  padding: 10px;
  background-color: #f5f5f5;
  margin-bottom: 5px;
  border-radius: 5px;
  margin-left: 150px;
  margin-right: 150px;
  box-shadow: 2px 2px 5px rgba(152, 102, 145, 0.95);
}

body img {
  width: 100%;
  height: 100%;
  position: absolute; /* Position the image relative to the li element */
  top: 0;
  left: 0;
  z-index: 1; /* Set the image on top of the other elements in the li element */
  opacity: 0.45; /* Optional: adjust the opacity of the image */
}

.container {
  position: relative; /* Set the li element as the reference position */
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h1 {
  text-shadow: 4px 4px 5px rgba(24, 30, 226, 0.40);
}


.navigation-menu {
  border: 10px;
  max-width: 1200px;
  flex-wrap: wrap;
  list-style-type: none;
  display: flex;
}

.navigation-menu li {
  flex-basis: 5%;
  text-align: center;
  padding: 10px;
  margin: 5px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(152, 102, 145, 0.95);
  text-shadow: 4px 4px 5px rgba(24, 30, 226, 0.40);
}

.navigation-menu li a {
  text-decoration: none;
}

.navigation-menu li:last-child {
  margin-right: 0;
}
